@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

header{
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Montserrat", sans-serif;
        padding: 2rem 0;
        .nav_phone{
            display: flex;
            align-items: center;
            color: #fff;
            i{
                color: #F1AE0E;
                font-size: 30px;
            }
            p{
                font-size: 20px;
                transition: all 0.3s ease;
            &:hover{
                color: rgb(155, 114, 194);
            }
            }
        }
        .nav_menu{
            display: flex;
            gap: 2rem;
            text-transform: capitalize;
            a{
            color: #fff;
            text-decoration: none;
            font-weight: 700;
            font-size: 20px;
             transition: all 0.3s ease;
             background: linear-gradient(90deg,rgb(164, 108, 216),rgb(145, 110, 180));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                color: #fff;
            }
        }
        .menu{
            display: none;
        }
    }
}